body {
  font-family: Arial, sans-serif;
  margin: 20px;


}

.container {
  display: grid;
  grid-template-columns: 550px 400px 550px;
  grid-template-rows: repeat(3, 250px);
  grid-gap: 5px;


}

.item {
  background-color: orange;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  border: 3px solid black;

}

.item img {

  max-width: 90%;
  border-radius: 6px;
}

.item-1 {
  grid-column: 2/3;
  grid-row: 1/2;

}

.item-2 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.item-3 {
  grid-column: 2/3;
  grid-row: 2/3;

}

.item-4 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.item-5 {
  grid-column: 1/2;
  grid-row: 3/4;

}

.item-6 {
  grid-column: 2/3;
  grid-row: 3/4;

}

.item-7 {
  grid-column: 3/4;
  grid-row: 1/2;

}


.item-8 {
  grid-column: 3/4;
  grid-row: 2/3;


}

.item-9 {
  grid-column: 3/4;
  grid-row: 3/4;

}